doctype html
html
head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
	style.
		.results img { max-width: 100%;	}

	title Pixel perfect report
body
	nav.navbar.navbar-default
		.container-fluid
			.navbar-header
				a.navbar-brand(href="#")
					span Pixel perfect report

	.container-fluid
		.row
			if pass
				span.label.label-success !{pass} passing
			if skip
				span.label.label-info !{skip} pending
			if fail
				span.label.label-danger !{fail} failing
	.container-fluid
		for test in tests
			.row
				- var state = {passed: 'alert-success', failed: 'alert-danger'}[test.state] || 'alert-info'
				.col-xs-12(class=state)
					samp= test.fullTitle()
			if test.state === 'failed'
				.row.results
					if test.err.name !== 'PixelsNotPerfectError'
						.col-xs-12
							code= test.err.message
					else
						.col-md-6
							.div
								code= test.err.expected
							a(href='./' + test.err.expected + '.png')
								img(src='./' + test.err.expected + '.png')
						.col-md-6
							.div
								code= test.err.actual
							a(href='./' + test.err.actual + '.png')
								img(src="./" + test.err.actual + '.png')
